
<h1>Ten Most recent additions</h1>

<% @recent_ten.each do |restaurant| %>
  <li><%= link_to("#{restaurant.name}",restaurant_path(restaurant)) %> <em><%= "(#{restaurant.created_at.to_formatted_s(:db)})" %></em></li>
<% end %>
